*{
    margin:0;
    padding:0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

header{
    position: fixed;
    top:0;
    left:0;
    right:0;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    background: white;
    padding:2rem 9%;
    display: flex;
}

.Name{
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}

.nav a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
}

.Name:hover{
    color:blue;
}

.nav a:hover{
    color:blue;
}

.awesome_icons a{
    font-size: 2.5rem;
    color: #333;
    margin-left: 1.5rem;
}

.awesome_icons a:hover{
    color:blue;
}

#Hamburger{
    display: none;
}

.fa-bars{
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    cursor:pointer;
    border: .1rem solid rgba(0,0,0,.3);
    display: none;
}

@media (max-width:991px){
    html{
        font-size: 55%;
    }

    header{
        padding: 2rem;
    }
}

@media (max-width:768px){
    .fa-bars{
        display: block;
    }

    .nav{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #eee;
        border-top: .1 rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    
    #Hamburger:checked ~ .nav{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .nav a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0,0,0,.1);
        display: block;

    }
}
