*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .1s ease-in-out;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

body{
    background: url("images/background.png");
    background-size: cover;
    background-position: center;
}

section{
    padding: 2rem 9%;
}

.h{
    font-size: 4rem;
    text-align: center;
    padding:1rem;
    margin: 1rem 0 2rem 0;
    color: #333;
    background: rgba(29, 69, 245, 0.05);
}

.h2{
    font-size: 4rem;
    text-align: center;
    padding:1rem;
    margin: 12rem 0 2rem 0;
    color: #333;
    background: rgba(29, 69, 245, 0.05);
}

header{
    position: fixed;
    top:0;
    left:0;
    right:0;
    padding: 2rem 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    background: whitesmoke;
}

header .Name{
    font-size: 6rem;
    font-weight: bolder;
    color: #333;
}

header .Name span{
    font-size: 6rem;
    color:#ff0000;
}

header .navbar a{
    font-size: 2rem;
    padding: 0 1rem;
    color: #666;
}

header .navbar a:hover{
    color:#ff0000;
}

header #name_press{
    display:none;
}

header .fa-bars{
    font-size: 3rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0, 0, 0, .3);
    display: none;
    color: #333;
}

.lp .products{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.lp .products .box{
    position: relative;
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .2);
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .1);
}

.lp .products .box .discount{
    font-size: 2rem;
    position: absolute;
    top: 1rem ;
    left: 1rem;
    padding: .7rem 1rem;
    z-index: 1;
    border-radius: .5rem;
    color: #ff0000;
    background: rgba(255, 51, 153, .05);

}

.lp .products .box .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}

.lp .products .box .image img{
    height: 25rem;

}

.lp .products .box:hover .image img{
    transform:scale(1.18);
    
}

.lp .products .box .image .icons{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -7rem;
    display: flex;
}

.lp .products .box:hover .image .icons{
    bottom:0;
}

.lp .products .box .image .icons a{
    font-size: 2rem;
    height: 5rem;
    line-height: 5rem;
    width: 50%;
    background: #ff0000;
    color: #fff;
}

.lp .products .box .image .icons .cart-btn{
    border-left: .1rem solid #fff7;
    border-right: .1rem solid #fff7;
    width: 100%;
}

.lp .products .box .image .icons a:hover{
    background: #333;
}

.lp .products .box .content{
    padding: 2rem;
    text-align: center;
}

.lp .products .box .content .price{
    font-size: 2.5rem;
    font-weight: bolder;
    padding-top: 1rem;
    color: #ff0000;
}

.lp .products .box .content .price span{
    font-size: 1.5rem;
    font-weight: lighter;
    text-decoration: line-through;
    color: #999;
}

.footer .info{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    border-top: .1rem solid rgba(0, 0, 0, .1);

}

.footer .credit a{
    color:black;
}

.footer .info .box{
    flex: 1 1 25rem;
}

.footer .info .box h3{
    font-size: 2.5rem;
    padding: 1rem 0;
    color: #333;
    text-decoration: underline;
}

.footer .info .box a{
    font-size: 1.5rem;
    display: block;
    padding: 1rem 0;
    color: #666;
}

.footer .info .box a:hover{
    text-decoration: underline;
    color: #ff0000;
}

.footer .info .box img{
    margin-top: 1rem;
}

.footer .credit{
    font-size: 2rem;
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    border-top: .1rem solid rgba(0, 0, 0, .1);
    color: #333;
}

.footer .credit span:hover{
    color: #ff0000;
}

.footer .credit a:hover{
    color: #ff0000;
}

.cart .structure{
    margin: 2rem auto;
    font-size: 2rem;
    overflow-x: hidden;
}

.cart .structure table{
    width: 100%;
    table-layout: fixed;
    align-items: center;
}

.cart .cart_products{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}


.cart th{
    text-align: center;
    padding: 5px;
    font-weight:bolder;
    color: #fff;
    background: #ff0000;
}

.cart td{
    padding: 2rem;
    text-align: center;
}

.cart td input{
    width: 60px;
    height: 30px;
    padding: 5px;
}

.cart td a{
    font-size: 2rem;
    color: #ff0000;
}

.cart td p:hover{
    color: #ff0000;
}

.cart td a:hover{
    text-decoration: underline;
    color: #ff0000;
}

.cart td img{
    width: 200px;
    margin-right: 10px;
}

.cart td img:hover{
    transform:scale(1.2);
}

.cart .price{
    display: flex;
    justify-content: flex-end;
}

.cart .price table{
    width:100%;
    max-width: 400px;
    border-top: 3px solid #ff0000;
}

.cart td:last-child{
    text-align: right;
}

.cart td:last-child:hover{
    text-decoration: underline;
    color: #ff0000;
}

.form .formbox{
    font-size: 1.5rem;
    width: 350px;
    padding: 20px;
    margin: 2% auto 0;
    text-align: center;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
    background: whitesmoke;
}

.form .tb{
    padding:10px;
    margin:5px 0;
    width: 92%;
    border: 1px solid black;
    outline:none;
}

.form button{
    font-size: 15px;
    width:100%;
    padding: 10px;
    border-radius: 20px;
    margin: 10px 0;
    border: none;
    outline:none;
    cursor:pointer;
    color: grey;
}

.form .b1{
    color:#ff0000;
}

.form .b1:hover{
    transition: 0.2s;
    transform: translateY(-4px);
    color:white;
    background-color: #ff0000;
}

.form hr{
    margin-top: 20px;
    width: 100%;
}
 
.form .or{
    width:30px;
    margin: -19px auto 10px;
    background: #fff;
}

.form img{
    width: 70px;
}

.form a:hover{
    color:#ff0000;
}

/* . */
.home{
    display:flex;
    align-items: center;
    min-height: 100vh;
    background: url("images/stock.jpg");
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 50rem;
}

.home .content h3{
    font-size: 6rem;
    color: #fff;
}

.home .content span{
    font-size: 4rem;
    color: #ff0000;
    padding: 1rem 0;
    line-height: 1.5;
}

.home .content p{
    font-size: 1.5rem;
    color: #fff;
    padding: 1rem 0;
    line-height: 1.5;
}

.home .btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 2rem;
}

.home .btn:hover{
    background: #ff0000;
}

/* . */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    header{
        padding: 2rem;
    }

    section{
        padding: 2rem;
    }

    .home{
        background-position: left;
    }

}

@media (max-width:768px){

    header .fa-bars{
        display: block;
    }

    header .navbar{
        position: absolute;
        top:100%;
        left:0;
        right:0;
        clip-path: polygon(0 0, 100% 0, 100% 0,0 0);
        border-top: .1rem solid rgba(0, 0, 0, .1);
        background: #eee;
    }

    header #name_press:checked ~ .navbar{
        clip-path: polygon(0 0, 100% 0, 100% 100%,0 100%);
    }
    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        border:.1rem solid rgba(0, 0, 0, .1);
        display: block;
        background: #fff;
    }

    .icons-container .icons h3{
        font-size: 2rem;
    }
    
    .icons-container .icons span{
        font-size: 1.7rem;
    }

    .cart .cart_products p{
        display: none;
    }

    .cart td input{
        width: 40px;
        height: 20px;
        padding: 5px;
    }

    .cart td img{
        width: 115px;
        margin-right: 10px;
    }

    .home .content h3{
        font-size: 5rem;
    }

    .home .content span{
        font-size: 2.5rem;
    }
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .h{
        font-size: 3rem;
    }

    .h2{
        font-size: 3rem;
    }

    .cart td img{
        width: 80px;
        margin-right: 10px;
    }
    
    .form .formbox{
        font-size: 2rem;
        width: 250px;
    }
}   

@media (max-width:360px){

    html{
        font-size: 45%;
    }
    
    .h{
        font-size: 5rem;
    }

    .h2{
        font-size: 5rem;
    }

}



@media (max-width:300px){
    .cart td img{
        width: 50px;
        margin-right: 10px;
    }
    .form .formbox{
        width: 200px;
    }
}

@media (max-width:100px){
    .form .formbox{
        width: 100px;
    }
}

@media (max-width:100px){

    html{
        font-size: 5%;
    }

    .h{
        font-size: 1rem;
    }

    .h{
        font-size: 1rem;
    }

    .form .formbox{
        width: 100px;
    }
}